:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #535bf2;
  --vp-c-brand-3: #4349d4;
  --vp-c-brand-soft: rgba(100, 108, 255, 0.14);
}

/* Hide sidebar and nav in setup mode */
.VPSidebar, .VPNavBar .VPNavBarMenu { display: none; }
.VPContent.has-sidebar { padding-left: 0 !important; }
